<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% if page.noindex %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8952740060272084"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
  </head>
  <body class="page-{{ page.layout | default: 'default' }}">
    {% include site_header.html %}
    <main class="site-main">
      {{ content }}
    </main>
    {% include site_footer.html %}
  </body>
</html>
